git config :

/etc/gitconfig -> git config --system
~/.gitconfig ~/.gitconfig/git/config -> --global
<repository_forlder>/.git/config -> --local

anyway:
local first

view details:
git config --list --show-origin
modify config:
git config --global user.name ""
git config --global user.email ""
git config --global core.ditor ***

how to read config:
git help <verb>
git <verb> --help
man git <verb>
